*, html {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(76, 133, 255);
    background-image: url(../img/pattern.png);
    padding-top: 80px;
    padding-bottom: 20px;
}

.top-logo {
    padding-left: 8px;
}

#page-title {
    font-size: 50px;
    padding-top: 30px;
    padding-left: 8px;
    font-style: normal;
}

#author-address {
    padding-top: 6px;
    padding-left: 8px;
    font-style: normal;
    font-size: 25px;
}

#article-date {
    font-style: normal;
    font-size: 15px;
    padding-left: 8px;
    padding-top: 6px;
}

.main-tim {
    padding-top: 30px;
    padding-left: 8px;
    padding-bottom: 6px;
}

.tim-caption {
    padding-left: 8px;
    font-style: normal;
    font-size: 15px;
}